In [1]:
import pandas as pd
df = pd.read_csv('../lengthOfReadTaken/Final.csv')
df.head()

,Tool Name,10,20,30,40,50,60,70,80,90,...,400,410,420,430,440,450,460,470,480,490
ID:bowtie2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ID:Bowtie,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ID:bwa,0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ID:graphmap,0,0,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ID:minialign,0,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1